---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .post-list {
        margin-top: 64px;
        list-style-type: none;
      }
      .post-list li + li {
        padding-top: 16px;
        border-top: 1px solid #eee;
      }
      .post-list a {
        text-decoration: none;
      }
      .post-description {
        color: #a3a3a3;
      }
      .post-title:hover,
      .post-description:hover {
        color: #0085a1;
      }
      .post-date {
        color: #a3a3a3;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello, My Friend.</h1>
      <ul class="post-list">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <h2 class="post-title">{post.data.title}</h2>
                <p class="post-description">{post.data.description}</p>
              </a>
              <p class="post-date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
